.feed{
    flex:5.5;
}
.feedWrapper{
    padding: 20px;
}
.userProfilePage{
    position: relative;
    right: 30px;
    text-align:right;
    padding-top: 40px;
    font-size: 24px;
    padding-left: 20px;
}
.userPosts{
    font-size: 19px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
}